
@{
    ViewBag.Title = "PaymentConfirm";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<h2 style="text-align:center">Thanh toán thành công. </h2>
<h2 style="text-align: center">Cảm ơn quý khách đã mua hàng chúng tôi sẽ liên lạc với quý khách sớm nhất</h2>
